.c-app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;

  &--layout--main-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: #b5b5b5;
  }

  &--header {
    padding: 20px;
    text-align: center;

    button {
      border: 2px solid #e2a10d;
      background: #f7d21f;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 14px;
      box-shadow: 0 3px 10px rgba(0,0,0,.4);
    }
  }

  &--work-area {
    flex: 1;
    position: relative;
    overflow: auto;
    
    &--target {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
  }
}
