.c-app-canvas {
  display: flex;
  flex: 1;

  &.dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &--selection {
    pointer-events: none;
    shape-rendering: crispEdges;

    &--elements {
      fill: none;
      stroke: rgb(79, 128, 255);
      stroke-width: 1;
    }

    &--outer {
      fill: none;
      stroke: rgba(0, 0, 0, .25);
      stroke-width: 1;
      stroke-dasharray: 3, 4;
    }
    
    &--mouse {
      fill: rgba(79, 128, 255, .25);
      stroke: rgb(79, 128, 255);
    }
  }
}
