.c-app-nav {
  height: 100px;
  padding: 20px 0;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;

  &--button {
    display: inline-block;
    height: 100%;
    margin: 0 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .25);
    cursor: pointer;

    &.active {
      box-shadow: 0 0 20px 0 rgb(79, 128, 255);
      outline: 2px solid rgb(79, 128, 255);
    }
  }

  .c-app-canvas {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: none;
  }
}
